body {
  background-color: lightblue;
}

button {
  border: none;
  background: none;
}

.header-bar {
  background-color: darkblue;
  color: white;
}

.user-button {
  text-align: right;
  padding: 30px;
}

.sign-in {
  font-size: 25px;
  background-color: darkblue;
  color: white;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  grid-template-rows: flex-end;
  padding: 0;
  height: 100px;
}

.rankings-link,
.lists-link,
.upload-link {
  font-size: 25px;
  background-color: darkblue;
  color: white;
  height: 100px;
}

.site-name {
  text-align: right;
  font-size: 45px;

}

.title {
  text-align: left;
  font-size: 35px;
  height: 100px;
}

section {
  padding-left: 10px;
  padding-right: 10px;
}

.animals {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

article {
  background-color: white;
  padding: 10px;
}

.top-line {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.ranking {
  text-align: right;
  font-size: 30px;
}

.animal-info {
  line-height: .25;
}

.bio {
  text-align: center;
}

.extra-info {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.site-info {
  text-align: right;
  line-height: .75;
}

.animal-facts {
  text-align: left;
  line-height: .75;
}
