body {
  background-color: #CAE5FF;
}

button {
  border: none;
  background: none;
}

.header-bar {
  width: 100%;
  background-color: #053C5E;
  color: #FFC9B5;
  -moz-box-shadow:    3px 3px 5px 2px #053C5E;
  -webkit-box-shadow: 3px 3px 5px 2px #053C5E;
  box-shadow:         3px 3px 5px 2px #053C5E;
}

.user-button {
  padding-top: 30px;
}

.sign-in {
  font-size: 25px;
  color: #FFC9B5;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  align-content: center;
  height: 25%;
}

.rankings-link,
.lists-link,
.upload-link {
  font-size: 25px;
  color: #FFC9B5;
  height: 100px;
}

.site-name {
  font-size: 45px;
}

.title {
  width: 100%;
  font-size: 35px;
  height: 15%;
  color: #576066;
}

section {
  padding-right: 10px;
}

.animals {
  display: flex;
  display: grid;
  grid-gap: 15px;
  width: 90%;
  padding: 0 5%;
  padding-bottom: 50px;
}

i {
  font-size: 65px;
}

article {
  background-color: #92828D;
  padding: 10px;
  color: #053C5E;
  -moz-box-shadow:    3px 3px 5px 2px #92828D;
  -webkit-box-shadow: 3px 3px 5px 2px #92828D;
  box-shadow:         3px 3px 5px 2px #92828D;
}

.top-line {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.ranking {
  text-align: right;
  font-size: 30px;
}

.animal-info {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: .25;
  font-size: 20px;
}

.age {
  text-align: right;
}

.bio {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.extra-info {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.site-info {
  text-align: right;
  line-height: .75;
}

.animal-facts {
  text-align: left;
  line-height: .75;
}

.animal-pic {
  width: 90%;
  margin: 0 5%;
}

/*small screens*/
@media screen and (max-width: 768px) {
  .sign-in {
    text-align: left;
  }

  .site-name {
    flex-wrap: wrap;
    font-size: 40px;
    padding-top: 50px;
  }

  .nav-bar {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    height: 40%;
  }

  .title {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 30%;
  }

  .animals {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*medium screens*/
@media screen and (min-width: 1024px) {
  .user-button {
    text-align: center;
  }

  .title {
    text-align: center;
    height: 100px;
  }

  .animals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sign-in {
    text-align: left;
  }

  .site-name {
    flex-wrap: wrap;
    font-size: 50px;
  }

  .nav-bar {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .user-button {
    text-align: right;
  }

  .title {
    text-align: left;
    padding-left: 65px;
  }

  .animals {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
  }
}
